<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <link rel="stylesheet" href="/css/style.css">
  <body>
    <!-- Code that all your templates share, like a header -->
    <div class="main menu fixed">
      <div class="menu">
        <a href="https://www.gamedevdiversity.com">Home</a>
        <a href="https://twitter.com/VGDevDiversity">@VGDevDiversity</a>
        <div class="menuright">
          <a href="https://github.com/austinkelmore/gamedevdiversity">Contribute</a>
        </div>
      </div>
    </div>
    <div class="main column">
      <div class="header">
        <div class="title">
          <h1>{{ .Site.Title }}</h1>
        </div>
        200
        This is a test header
        This replaces the contents of our (basically empty) “main” block with something useful for the list template. In this case, we didn’t define a “title” block so the contents from our base template remain unchanged in lists.

        In our default single template (_default/single.html), let’s implement both blocks:
        <a href="http://projectinclude.org/">Interesting link for Project Include</a>
      </div>
      <div class="section">
        <table class="table">
          <thead>
            <tr>
              <th class="th_first"><div class="th_first"><h2>Company</h2></div></th>
              <th>Data</th>
              <th>EEO-1</th>
              <th>Updated</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {{ $url := "/content/data.csv" }}
            {{ $sep := "," }}
            {{ range $i, $r := getCSV $sep $url }}
            {{ if ne $i 0 }}
            <tr>
              {{ $icon := index $r 6 }}
              {{ $subsidiary := index $r 1 }}
              <td class="th_first">
              {{ if ne $subsidiary "" }}
                --- {{ if ne $icon "" }}<a href="{{ index $r 2 }}"><img src="/icons/{{ $icon }}"></a>{{ else }}<a href="{{ index $r 2 }}">{{ $subsidiary }}</a>{{ end }}
              {{ else }}
                {{ if ne $icon "" }}<a href="{{ index $r 2 }}"><img src="/icons/{{ $icon }}"></a>{{ else }}<a href="{{ index $r 2 }}">{{ index $r 0 }}</a>{{ end }}
              {{ end }}
              </td>

              <td><a href="{{ index $r 3 }}">Link</a></td>

              <td>{{ index $r 4 }}</td>
              <td>{{ index $r 5 }}</td>
              <td>{{ index $r 7 }}</td>
            </tr>
            {{ end }}
            {{ end }}
            <!-- <tr>
              <td class="good">Nintendo</td>
              <td class="good"><a href="https://www.nintendo.co.jp/csr/en/report2016/employees/index.html">Yes</a></td>
              <td class="good">No</td>
              <td class="good">2016</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <!-- More shared code, perhaps a footer -->
  </body>