{{ define "main" }}
    <div class="main column">
      <div class="header">
        <div class="title">
          <h1>{{ .Site.Title }}</h1>
        </div>
        <p>Help us gather accurate data on the state of equitable representation in the games industry.</p>
        <div class="guide">
            <div class="outer true">
            <img class="internal" src="/dataicons/lots.png"><div class="internal"><h4>: Lots of data</h4></div>
            </div>
            <div class="outer some">
            <img class="internal" src="/dataicons/some.png"><div class="internal"><h4>: Some data</h4></div>
            </div>
            <div class="outer true">
            <img class="internal" src="/dataicons/none.png"><div class="internal"><h4>: No category data</h4></div>
            </div>
        <br>
      </div>
      <div class="section">
        <table class="table">
          <thead>
            <tr>
              <th class="th_first"><h2>Company</h2></th>
              <th class="th_rest">Gender</th>
              <th class="th_rest">Ethnicity</th>
              <th class="th_rest">LGBTQ+</th>
              <th class="th_rest">Disability</th>
              <th class="th_rest">Age</th>
              <th class="th_rest">Data</th>
            </tr>
          </thead>
          <tbody>
            {{ $url := "/content/data.csv" }}
            {{ $sep := "," }}
            {{ range $i, $r := getCSV $sep $url }}
              {{ if ne $i 0 }}
                {{ $icon := index $r 3 }}
                {{ $hasdata := ne (index $r 4) "" }}
                {{ $subsidiary := index $r 1 }}
              <tr class="{{$hasdata}}">
                <td class="th_first">
                {{ if ne $subsidiary "" }}
                  {{ if ne $icon "" }}<a href="{{ index $r 2 }}" target="_blank"><img src="/icons/{{ $icon }}"></a>{{ else }}<a href="{{ index $r 2 }}">{{ $subsidiary }}</a>{{ end }}
                {{ else }}
                  {{ if ne $icon "" }}<a href="{{ index $r 2 }}" target="_blank"><img src="/icons/{{ $icon }}"></a>{{ else }}<a href="{{ index $r 2 }}">{{ index $r 0 }}</a>{{ end }}
                {{ end }}
                </td>

                {{if $hasdata}}
                  {{ $gender := index $r 5 }}
                  {{ $ethnicity := index $r 6 }}
                  {{ $lgtbq := index $r 7 }}
                  {{ $disability := index $r 8 }}
                  {{ $age := index $r 11 }}
                  
                  <td {{if eq $gender "Yes"}}class="smile"><img src="/dataicons/lots.png">{{else if eq $gender "Some"}}class="smile"><img src="/dataicons/some.png">{{else}}class="smile"><img src="/dataicons/none.png">{{end}}</td>
                  <td {{if eq $ethnicity "Yes"}}class="smile"><img src="/dataicons/lots.png">{{else if eq $ethnicity "Some"}}class="smile"><img src="/dataicons/some.png">{{else}}class="smile"><img src="/dataicons/none.png">{{end}}</td>
                  <td {{if eq $lgtbq "Yes"}}class="smile"><img src="/dataicons/lots.png">{{else if eq $lgtbq "Some"}}class="smile"><img src="/dataicons/some.png">{{else}}class="smile"><img src="/dataicons/none.png">{{end}}</td>
                  <td {{if eq $disability "Yes"}}class="smile"><img src="/dataicons/lots.png">{{else if eq $disability "Some"}}class="smile"><img src="/dataicons/some.png">{{else}}class="smile"><img src="/dataicons/none.png">{{end}}</td>
                  <td {{if eq $age "Yes"}}class="smile"><img src="/dataicons/lots.png">{{else if eq $age "Some"}}class="smile"><img src="/dataicons/some.png">{{else}}class="smile"><img src="/dataicons/none.png">{{end}}</td>
                  <td class="link"><a href="{{ index $r 4 }}">{{if ne (index $r 18) ""}}{{index $r 18}}{{else}}Link{{end}}</a></td>
                {{else}}
                  <td colspan="14" class="false nodata"><div class="internal">No Data</div></td>
                {{end}}
              </tr>
              {{ end }}
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
{{ end }}